<!DOCTYPE html>
<html>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>



<head>
<meta charset="ISO-8859-1">
<title>Retail Shop</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
   
</head>

<body>
   
  <div *ngFor="let p of products">
    
<div class="row d-flex justify-content-center">
  
      <div class="card   w-75 bg-dark text-light">
        
        <div class="card-body ">
          <div class="container">
          
            <div class="row">
              <div class="col-sm">
                <h3 class="card-title">{{p.name}}</h3>
              </div>
              <div class="col-sm">
                <div class="d-flex flex-row-reverse"> <button class="btn btn-warning" (click)="remove(p) " >Remove from cart</button></div>
              </div>
             
            </div>
           
              <div class="row">
                <div class="col-sm">
                 <strong>Price:</strong> 
                </div>
                <div class="col-sm">
                 Rs. {{p.price}}
                </div>
                <div class="col-sm">
                  
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm align-self-center">
                  <strong>Quantity:</strong> 
                </div>
                <div class="col-sm">
                 {{p.userQuantity}}
                </div>
                <div class="col-sm">
                 
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm">
                 <strong>Total:</strong> 
                </div>
                <div class="col-sm">
                 Rs. {{p.userQuantity*p.price}}
                </div>
                <div class="col-sm">
                  
                </div>
              </div>
             
                 
            </div>
             
           
             
           
          
        
          
        </div>
      </div>
      </div>
    
 
    </div>
    <br>
    <div *ngIf="check">
    <div class="d-flex d-flex justify-content-around"> <button class="btn btn-primary"(click)="place()">place Order</button><button class="btn btn-primary" (click)="back()">Go Back To Home</button></div></div>
    <div *ngIf="!check">
      <div class="d-flex d-flex justify-content-around"> {{message}}</div><br><div class="d-flex d-flex justify-content-around"><button class="btn btn-primary" (click)="back()">Go Back To Home</button></div></div>
</body>
</html>
