<!DOCTYPE html>
<html>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>



<head>
<meta charset="ISO-8859-1">
<title>Retail Shop</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand text-dark" href="#"><i
        class='fas fa-shopping-basket'></i> Retailers</a>
    <ul class="nav justify-content-end">
        <li class="nav-item text-dark"><a
            class="nav-link text-dark active" href="#">About Us</a></li>
        <li class="nav-item" id="contact"><a class="nav-link text-dark"
            href="#">Contact Us</a></li>

                </ul>
   
</nav>
<router-outlet></router-outlet>
<footer class="page-footer font-small pt-4">


    <div class="footer-copyright py-3 bg-dark text-white">
        <small>Retailers © 2020 Copyright </small>

    </div>
</footer>
</body>
</html>