<!DOCTYPE html>
<html>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script type="text/javascript" src='popper.min.js'></script>
<head>
<meta charset="ISO-8859-1">
<title>Retail Shop</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
   
</head>

<body>
   

<div class="row d-flex justify-content-center">
   
      <div class="card   w-75">
        
        <div class="card-body ">
          <div class="container">
          
          <div class="row">
            <div class="col-sm">
              <strong>Name:</strong>
            </div>
            <div class="col-sm">
                <input
                type="text" class="form-control" 
                name="name" [(ngModel)]=prod.name  required>
            </div>
            <div class="col-sm">
              
            </div>
          </div>
         <br>
            <div class="row">
              <div class="col-sm">
               <strong>Price:</strong> 
              </div>
              <div class="col-sm">
               
              <input 
              type="text" class="form-control" 
              name="price" [(ngModel)]=prod.price  required>
              </div>
              <div class="col-sm">
                
              </div>
            </div>
            </div>
            <br>
            <div class="row">
              
                  <div class="col-sm">
                <strong>Quantity:</strong> 
              </div>
              <div class="col-sm">
                <input
                type="text" class="form-control" 
                name="quantity" [(ngModel)]=prod.quantity  required>
              </div>
              <div class="col-sm">
                
              </div>
            </div>
        
            <br>
           
          
           
         </div>
         
          
        
          <button class="btn btn-primary" (click)="add()" >Add to list </button>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
      <div *ngIf="added==true" class="card w-75">
        <div class="card-header text-success">
          Added Sucessfully!!
        </div>
        </div>
        <div *ngIf="added==false" class="card w-75">
          <div class="card-header text-danger">
            Item already exists!!!
          </div>
          </div>
      </div>
    <br>

    <div class="d-flex d-flex justify-content-around"> <button class="btn btn-primary" (click)="list()">Go To List</button></div>
   
</body>
</html>
