.passwordStrength {
    float: "left";
    width: "100px";
    height: "25px";
    margin-left: "5px";
}
footer { 
position: relative; 
padding: 10px 10px 0px 10px; 
bottom: 0; 
width: 100%; 
/* Height of the footer*/  
height: 50px; 
margin-top: 500;
} 

#mssg{

/* float:right; */
color: yellow;
align-content:center;
}
#mssg1{

/* float:right;  */
color: yellow;
align-content:space-around;
}
form.h5{
position:fixed;
}
form.input{
position:fixed;
}